<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true">
    <Properties>
        <Property name="nanoPattern">%d{yyyy-MM-dd'T'HH:mm:ss,nnnnnnnnnXXX}{UTC}</Property>
    </Properties>
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%-5p [%t][${nanoPattern}]: %m%n"/>
        </Appender>

        <RollingFile
                name="APPLICATION"
                fileName="logs/application.log"
                filePattern="logs/application.%d{dd-MMM}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%-5p [%t][${nanoPattern}]: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <RollingFile
                name="METRICS"
                fileName="logs/metrics.log"
                filePattern="logs/metrics.%d{dd-MMM}.log.gz"
                ignoreExceptions="true">
            <PatternLayout>
                <Pattern>${nanoPattern} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="APPLICATION"/>
        </Root>

        <Logger name="name.maxdeliso.micron.metrics" additivity="false">
            <AppenderRef ref="METRICS"/>
        </Logger>
    </Loggers>
</Configuration>