<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true">
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%-5p [%t]: %m%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>